@import '@/assets/styles/_global.scss';

.ProductsSelector {
  height: unset !important;

  &.FormField {
    &>.FormField {
      &-label {
        transform: none;
        font-size: 1.2rem;
        top: 0.4rem;
      }
    }
  }

  .FormField {
    &-field {
      padding-top: 2.4rem;
    }
  }

  .Table {
    margin-bottom: 0.8rem;

    .ant-table .ant-table-tbody>tr:last-child>td {
      border-bottom: none;
    }

    &-header {
      margin-bottom: 1.2rem;
    }
  }
}
