@import '@/assets/styles/_global.scss';

.Card {
  position: relative;
  background: $white;
  border-radius: 0.8rem;

  &-header {
    padding: 2.4rem 2.4rem 0;
    column-gap: 1.6rem;

    &-title {
      font-size: 1.6rem;
      color: $mine-shaft;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-description {
      font-size: 1.4rem;
      color: $dove-gray;
    }

    &-suffix-link {
      font-size: 1.4rem;
      font-weight: 600;
      color: $purple-heart;

      .Icon {
        width: 3.2rem;
        height: 3.2rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-body {
    padding: 2.4rem;
  }
}
