@import '@/assets/styles/_global.scss';

.Admin {
  &-sidebar {
    position: fixed;
    width: 24rem;
    height: 100%;
    z-index: 4;
  }

  &-header {
    position: fixed;
    top: 0;
    left: 24rem;
    width: calc(100% - 24rem);
    z-index: 4;
  }

  &-body {
    padding: calc(6rem + 2.4rem) 2.4rem 2.4rem calc(24rem + 2.4rem);
    min-height: 100vh;
    background: rgba($alto, 0.2);
  }
}
