@import '@/assets/styles/_global.scss';

.Drawer {
  .ant-drawer-header {
    padding: 2.4rem;
  }

  .ant-drawer-body {
    padding: 2.4rem;
  }

  .ant-drawer-close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.8rem;
    height: 2.8rem;
    padding: 0;

    .Icon {
      width: 100%;
      height: 100%;
    }
  }
}
