@import '@/assets/styles/_global.scss';

.DatePicker {
  .ant-picker {
    width: 100%;
  }

  &-dropdown {
    .ant-btn {
      height: 2.8rem;
      padding: .4rem .8rem;
      column-gap: .4rem;
      font-size: 1.4rem;
      line-height: 1;
      background: $purple-heart;
      color: $white;
      border: none;
      border-radius: .4rem;
      box-shadow: none;

      &:hover {
        background: darken($purple-heart, 5%);
      }

      &:active {
        background: darken($purple-heart, 10%);
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    .ant-picker-week-panel-row-selected td.ant-picker-cell-today .ant-picker-cell-inner::before,
    .ant-picker-week-panel-row-selected:hover td.ant-picker-cell-today .ant-picker-cell-inner::before {
      border-color: $white !important;
    }

    .ant-picker-week-panel-row-selected td:first-child {
      border-radius: .4rem 0 0 .4rem;
    }

    .ant-picker-week-panel-row-selected td:last-child {
      border-radius: 0 .4rem .4rem 0;
    }

    .ant-picker-week-panel-row-selected td,
    .ant-picker-week-panel-row-selected:hover td {
      background: $purple-heart;
    }

    .ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
      background: $white-lilac;
    }

    .ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
      background: $purple-heart;
      color: $white;
    }

    .ant-picker-header-view {
      white-space: nowrap;
    }

    .ant-picker-header-view button:hover {
      color: $purple-heart;
    }

    .ant-picker-header>button:hover {
      color: $purple-heart;
    }

    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
      background: $purple-heart;
    }

    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
      border-color: $purple-heart;
      border-radius: .4rem;
    }

    .ant-picker-today-btn {
      color: $purple-heart;
    }

    .ant-picker-cell .ant-picker-cell-inner {
      border-radius: .4rem;
    }

    .ant-picker-panel-container {
      border-radius: .8rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    }
  }
}
