@import '@/assets/styles/_global.scss';

.Table {

  .ant-table-row.hightlight>.ant-table-cell,
  .ant-table-cell.hightlight {
    background: rgba($selective-yellow, 0.15) !important;
  }

  .ant-spin-dot-item {
    background: $selective-yellow;
  }

  .ant-table {
    .ant-table-placeholder {
      &>td {
        border: none
      }
    }

    .ant-table-column-sort {
      background: rgba($selective-yellow, 0.1) !important;
    }

    .ant-table-column-sorter {
      color: $silver-chalice;

      .ant-table-column-sorter-up,
      .ant-table-column-sorter-down {
        font-size: 1rem;
      }

      .ant-table-column-sorter-up.active,
      .ant-table-column-sorter-down.active {
        color: $purple-heart;
      }
    }

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background: rgba($white-lilac, 0.5);
    }

    .ant-table-thead {
      &>tr {
        &>th {
          font-weight: 700;
          color: $tundora;
          background: $white;
          font-size: 1.4rem;
          border-bottom-color: $alto;
          user-select: none;
          border-top: 1px solid $alto;
          white-space: nowrap;
          text-transform: capitalize;

          &.text-center {
            text-align: center;
          }

          &::before {
            display: none;
          }
        }
      }
    }

    .ant-table-tbody {
      &>tr {
        &>td {
          border-bottom-color: $alto;
          padding: 1.2rem 1.6rem;
          font-size: 1.4rem;
          color: $mine-shaft;
          font-weight: 500;
          vertical-align: middle;

          &.limit-width {
            min-width: 18rem;
          }
        }
      }
    }
  }

  &-image {
    margin-right: -1.6rem;
  }

  &-info {
    &-description {
      margin-top: .4rem;
      color: $dove-gray;
      font-size: 1.2rem;
    }
  }

  &-header {
    margin-bottom: 2.4rem;
  }

  &-footer {
    margin-top: 2.4rem;

    @media (max-width: 575px) {
      flex-direction: column;
      row-gap: 1.6rem;
    }
  }

  &-total-item {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 1.4rem;
    color: $tundora;

    strong {
      font-weight: 600;
    }

    .Icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
