@import '@/assets/styles/_global.scss';

.Orders {
  &-products {
    .ant-col {
      &:not(:last-child) {
        .Orders-products-item {
          border-bottom: 1px dashed $silver-chalice;
        }
      }
    }

    &-item {
      padding: 1.2rem 0;
      column-gap: 1.2rem;
    }
  }
}
